<!DOCTYPE html>
<html>
<head>
<style>
body {
    background: #0f172a;
    color: white;
    text-align: center;
    padding-top: 100px;
}
.card {
    background: #1e293b;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    margin: auto;
}
button:hover {
    background: cyan;
}
</style>
</head>

<body>
<div class="card">
<h2>Sign Up</h2>

<form method="POST">
<input name="username" placeholder="Username">
<input name="password" type="password" placeholder="Password">
<button>Create</button>
</form>
</div>
</body>
</html>